CREATE DATABASE QLSV
GO
USE QLSV
GO
CREATE TABLE KHOA
(
MAKHOA CHAR(20),
TENKHOA NVARCHAR(100)
CONSTRAINT PK_MAKHOA PRIMARY KEY(MAKHOA)
)
GO
CREATE TABLE LOP
(
MALOP CHAR(20),
TENLOP NVARCHAR(100),
MAKHOA CHAR(20),
CONSTRAINT PK_MALOP PRIMARY KEY(MALOP),
CONSTRAINT FK_MAKHOA_LOP FOREIGN KEY(MAKHOA) REFERENCES KHOA(MAKHOA)
)
GO
CREATE TABLE SINHVIEN
(
MASV CHAR(20),
TENSV NVARCHAR(100),
GIOITINH NVARCHAR(5),
NGAYSINH DATE,
DIACHI NVARCHAR(100),
MALOP CHAR(20)
CONSTRAINT PK_MASV PRIMARY KEY(MASV),
CONSTRAINT FK_MALOP_SV FOREIGN KEY(MALOP) REFERENCES LOP(MALOP)
)
GO

--Procedure Khoa
create procedure load_khoa
as
begin
select KHOA.MAKHOA as'MãKhoa',KHOA.TENKHOA as 'TênKhoa' from KHOA
end
go

create procedure insert_khoa
@makhoa char(20),@tenkhoa nvarchar(100)
as
begin
INSERT INTO KHOA(MAKHOA,TENKHOA) VALUES(@makhoa,@tenkhoa)
end
go

create procedure update_khoa
@makhoamoi char(20),@makhoacu char(20),@tenkhoa nvarchar(100)
as
begin
update KHOA set MAKHOA=@makhoamoi,TENKHOA=@tenkhoa where MAKHOA=@makhoacu
end
go

create procedure delete_khoa
@makhoa char(20)
as
begin
delete from KHOA where MAKHOA=@makhoa
end
go

--Procedure Lop
create procedure load_lop
as
begin
select LOP.MALOP as 'MãLớp',LOP.TENLOP as 'TênLớp',LOP.MAKHOA as 'MãKhoa' from LOP
end
go

create procedure insert_lop
@malop char(20),@tenlop nvarchar(100),@makhoa char(20)
as
begin
insert into LOP(MALOP,TENLOP,MAKHOA) values(@malop,@tenlop,@makhoa)
end
go

create procedure update_lop
@malop char(20),@tenlop nvarchar(100),@makhoa char(20),@malopcu char(10)
as
begin
update LOP set MALOP=@malop,TENLOP=@tenlop,MAKHOA=@makhoa where MALOP=@malopcu
end
go

create procedure delete_lop
@malop char(20)
as
begin
delete from LOP where MALOP=@malop
end
go

-- Procedure SINHVIEN
create procedure load_sv
as
begin
select SINHVIEN.MASV as 'MãSinhViên',SINHVIEN.TENSV as 'TênSinhViên',SINHVIEN.GIOITINH as 'GiớiTính',SINHVIEN.NGAYSINH as 'NgàySinh',SINHVIEN.DIACHI as 'ĐịaChỉ',SINHVIEN.MALOP as 'MãLớp' from SINHVIEN
end
go

create procedure insert_sv
@MASV CHAR(20),@TENSV NVARCHAR(100),@GIOITINH NCHAR(5),@NGAYSINH DATE,@DIACHI NVARCHAR(100),@MALOP CHAR(20)
as
begin
insert into SINHVIEN(MASV,TENSV,GIOITINH,NGAYSINH,DIACHI,MALOP) values(@MASV,@TENSV,@GIOITINH,@NGAYSINH,@DIACHI,@MALOP)
end
go

create procedure update_sv
@MASV CHAR(20),@TENSV NVARCHAR(100),@GIOITINH NCHAR(5),@NGAYSINH DATE,@DIACHI NVARCHAR(100),@MALOP CHAR(20),@MASVCU CHAR(20)
as
begin
update SINHVIEN set MASV=@MASV,TENSV=@TENSV,GIOITINH=@GIOITINH,NGAYSINH=@NGAYSINH,DIACHI=@DIACHI,MALOP=@MALOP where MASV=@MASVCU
end
go

create procedure delete_sv
@MASV CHAR(20)
as
begin
delete from SINHVIEN where MASV=@MASV
end
go